/* 
    Document   : app
    Created on : Jan 21, 2013, 10:06:00 PM
    Author     : Aliaksandr_Litskevic
    Description: Purpose of the stylesheet follows.
*/
body {
margin-padding: 70px;
min-height: 2000px;
}
hr {
 margin-top: 5px; 
 margin-bottom: 5px; 
}

a:hover {
    text-shadow: 1px 1px 1px rgba(67, 81, 188, 0.4);
    text-decoration: none;
}

h4{
    text-shadow: 1px 1px 1px rgba(67, 81, 188, 0.1);
    text-decoration: none;
}
.well{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    border-radius: 2px;
    background-color: #fff;
}


.margin-left {
    margin-left: 1em;
}


.prep,.det,.conj {color :lightsalmon;}
.word{color :darkblue;}
.noun{color :red;}
.pron{color :red;}
.adj{color :green;}
.verb{color :Crimson ; font-weight:bold;}
.be, .mverb{color :Crimson ; font-weight:bold;font-size:smaller;}
.named, .url{color :maroon ; font-weight:bold;}

.number, .date, .measuredNumber  {
    background-color: teal;
    display: inline;
    padding: .1em .4em .2em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.date {
    background-color: blue;
}
.list-group .list-group-item {
    padding: 10px 15px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color: #428bca;
}


.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    color: #555!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, li.active a {
    color: white!important;
}
.well{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    border-radius: 2px;
    background-color: #fff;
}
