/* 
    Document   : app
    Created on : Jan 21, 2013, 10:06:00 PM
    Author     : Aliaksandr_Litskevic
    Description: Purpose of the stylesheet follows.
*/
body {
    padding-top: 0px;
    padding-bottom: 40px;
    overflow-y:scroll;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(/res/bg1.png)
}
ul{
    padding-left: 1em;
}


.navbar-fixed-top {
    top: 0;
    position: inherit;
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 70px;

    }
    .navbar-fixed-top {
        top: 0;
        position: fixed;
    }
}

a:hover {
    text-shadow: 1px 1px 1px rgba(67, 81, 188, 0.4);
    text-decoration: none;
}
.navbar{
    background: rgb(206,220,231);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)));
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
}

.navbar-nav>li>a {
    color: #111;
    font-weight: bold;
}

.brand, h2{
    text-shadow: 2px 2px 2px rgba(67, 81, 188, 0.3);
    text-decoration: none;
}

h4{
    text-shadow: 1px 1px 1px rgba(67, 81, 188, 0.1);
    text-decoration: none;
}
.main{
    background: whiteSmoke;padding: 10px 0px 10px 10px;overflow: hidden;min-height: 100%;
}

.app{
    background: #FAFAFA;padding: 10px 10px 10px 10px;margin-left: 0px;min-height: 100%;
}





