<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="/logo.jpg"/>
      GRODNO.CO
    </a>
    <a href="#" class="item">Galowna</a>
    <div class="ui simple dropdown item">
      Padrobjaznej <i class="dropdown icon"></i>
      <div class="menu">
        <a href="http://realty.grodno.co/" class="item">Zhytlo</a>
        <a href="http://cars.grodno.co/" class="item">Samoxody</a>
        <a href="http://job.grodno.co/" class="item">Pratsa</a>
        <a href="http://service.grodno.co/" class="item">Paslugi</a>
        <div class="divider"></div>
        <div class="header">I jasqe</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Powered by
          <div class="menu">
            <a class="item" target="_blank" href="//semantic-ui.com">Semantic-ui</a>
            <a class="item" target="_blank" href="//github.com/grodno">GitHub</a>
            <a class="item" target="_blank" href="//www.google.com/">Google</a>
          </div>
        </div>
        <a class="item" href="#">Ab sajce</a>
        <a class="item" href="https://docs.google.com/spreadsheets/d/1jWmznN-y6YMVabAk1-_0ts4e9Xm_L7qVLvsonVEbmhM/edit#gid=731429728">Mova</a>
      </div>
    </div>
  </div>
</div>
