<!doctype html>
<html manifest="/the.appcache#app={app.id}&view={viewId}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{app.title}</title>
        <meta name="keywords" content="{app.keywords} ">
        <meta name="description" content="{app.description}" />

        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <link href="css/widgets.css" rel="stylesheet" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>


        <script src="/js/libs/modernizr-2.6.1.min.js"></script>
        <!--[if lt IE 9]>
        <script src="/js/libs/es5-shim.min.js"></script>
        <script src="/js/libs/respond.min.js"></script>
        <![endif]-->

        <script src="js/libs/axio.js"></script>
        <script>
            
            var APP = {
                id : '{app.id}'
                ,
                title : '{app.title}'
                ,
                version: '{app.version}'
                ,
                copyright : '{app.copyright}'
            };
 
           
        </script>
        <script src="js/api.js"></script>
        <script src="js/api-user.js"></script>
        <script src="js/ui-chat.js"></script>
        <script src="js/ui-user.js"></script>
        <script src="js/ui-news.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand">
                        <a href="./"><img class="logo" src="res/logo.jpg"/></a>
                        <a href="./me" data-widget="UserCaption"></a>
                        <a href="./"> {app.title}</a>
                    </div>
                    <!--                    <ul class="nav">
                                            <li class="active">
                                                <a href="./index.html">Home</a>
                                            </li>
                                            <li class="">
                                                <a href="./getting-started.html">Get started</a>
                                            </li>
                                            <li class="">
                                                <a href="./scaffolding.html">Scaffolding</a>
                                            </li>
                                            </li>
                                        </ul>-->
                    <div class="pull-right btn btn-danger" data-widget="UserLogout" style="margin-top:21px;"></div>
                    <div class="pull-right user" data-widget="UserLogIn"></div>
                </div>
            </div>
        </div>
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <h1>{app.title}</h1>
                <p class="lead">{app.slogan}</p>
            </div>
        </header>
        <div class="herro" data-widget="dhtml" data-html-url="html://hero">
        </div> 
        <!--        < class="container">
                    <div class="row" style="height:40px; position:fixed; top:0;">
                        <h2 class="span9"> <a class="brand" href="/">THE UP TO YOU TV.</a></h2>
                        <div class="span3"></div>
                    </div>
                </header>-->

        {+content}
        <div id="app " class="app" data1-widget1="Application">
            <!--             -->
            <div class="container">
                <div id="main" class="row">
                    <section id="mainSection" class="span12 round-border main-section">
                        <div data-widget="NewsBox:news"></div>
                    </section>
                </div>
            </div>
        </div>
        {/content}  

        <footer>
            <div class="container">
                <div class="row ">
                    <div class="span9" style="padding:0;border:0;">
                        <div class="span2">
                            <h5>{app.title}</h5>
                            <small class="links">
                                <ul class="nav">
                                    <li><a href="/about"><strong>About</strong></a></li>
                                    <li><a href="/links">Our mission</a></li>
                                    <li><a href="/fun">Policy</a></li>
                                    <li><a href="/fun">How it works</a></li>
                                </ul>
                            </small>                
                        </div>                
                        <div class="span2">
                            <h5>HOW TO</h5>
                            <small class="links">
                                <ul class="nav">
                                    <li><a href="/fun">Help</a></li>
                                    <li><a href="/fun">FAQ</a></li>
                                    <li><a href="/about">Authors</a></li>
                                    <li><a href="/links">Developers</a></li>
                                    <li><a href="/fun">Partners</a></li>
                                </ul>
                            </small>
                        </div>                
                        <div class="span2">
                            <h5>NAVIGATION</h5>
                            <small class="links">
                                <ul class="nav">
                                    <li><a href="/home"><strong>Home</strong></a></li>
                                    <li><a href="/watch">What to watch</a></li>
                                    <li><a href="/fun">Listings</a></li>
                                    <li><a href="/fun">Episodes</a></li>
                                    <li><a href="/news">News</a></li>
                                    <!--                    <li><a href="/gallery">Photos</a></li>-->
                                </ul>
                            </small>
                        </div>
                        <div class="span2">
                            <h5>MORE</h5>
                            <small class="links">
                                <ul class="nav">
                                    <li><a target=_blank href="//photos.grodno.co/">Grodno Photos</a></li>
                                    <li><a target=_blank href="//chess.grodno.co/">Chess in Grodno</a></li>
                                </ul>
                            </small>
                        </div>  
                    </div>
                    <div class="span3">
                        <div class="well">
                            <h5>FOLLOW US</h5>
                            <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                                <a class="addthis_button_facebook_follow" addthis:userid="chessInGrodno"></a>
                                <a class="addthis_button_twitter_follow" addthis:userid="grodno-chess"></a>
                                <a class="addthis_button_youtube_follow" addthis:userid="nemantv"></a>
                                <a class="addthis_button_tumblr_follow" addthis:userid="grodno-chess"></a>
                                <a class="addthis_button_rss_follow" addthis:userid="//grodno-chess.tumblr.com/rss"></a>
                            </div>
                            <!-- AddThis Button BEGIN -->
                            <h5>SHARE IT!</h5>
                            <div class="addthis_toolbox addthis_default_style " data-widget="scriptLoader" data-src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50d4749866759be8">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_2"></a>
                                <a class="addthis_button_preferred_3"></a>
                                <a class="addthis_button_preferred_4"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    &copy; {app.copyright}
                    <br>
                    <small class="links">
                        Based on  <a target=_blank href="//alitskevich.github.io/AxioJS/">AxioJS</a>
                        | Designed with <a target=_blank href="//twitter.github.com/bootstrap/">Twitter Bootstrap</a>
                        | Powered by <a target=_blank href="//www.google.com/">Google</a>
                        | Content from <a target=_blank href="//www.tumblr.com/">Tumblr</a>
                        | Blessed by <a target=_blank href="//www.epam.by/">EPAM</a>
                    </small>
                </div>
            </div>
        </footer>
        <script>Object.require(APP.dependencies, function(){Object.dom.init();});</script>
    </body>
</html>