{>"index"/}
{<content}
    <div class="row">
        <form id="login" class="well span6 offset3" data-widget="SubmitForm" action="/user" method="post" target="login_target">
            <h2>Log in</h2>
            <div data-widget="input"
                 data-name="user"
                 ></div>
            <div data-widget="input"
                 data-name="password"
                 ></div>

            <div class="links">
                <input type="submit" class="btn btn-primary" data-widget="SubmitButton" data_caption="log_in"/>
            </div>
        </form>
    </div>
{/content}