<body>

    <template id="Container">
        <div class="container bg-gray">
            <ui:slot />
        </div>
    </template>

    <template id="PageRouter">
        <ui:tag tag="{{page}}" ui:props="{{params}}" />
    </template>

    <template id="NavTree">
        <ul class="nav">
            <li class="nav-item {{item.class}}" ui:each="item of data">
                <a href="#{{item.id}}">
                    <span>{{item.name}}</span>
                    <span ui:if="item.label" class="label label-error">{{item.label}}</span>
                </a>
                <NavTree ui:if="item.subs" data="{{item.subs}}" />
            </li>
        </ul>
    </template>

    <template id="Panel">
        <div class="panel" style="{{style}}">
            <div class="panel-header">
                <div class="panel-title">
                    <ui:slot id="title" />
                </div>
            </div>
            <div class="panel-nav" ui:if="slot:nav">
                <ui:slot id="nav" />
            </div>
            <div class="panel-body">
                <ui:slot />
            </div>
            <div class="panel-footer" ui:if="slot:footer">
                <ui:slot id="footer" />
            </div>
        </div>
    </template>

    <template id="Card">
        <div class="card">
            <div class="card-image" ui:if="image">
                <img src="{{image}}" class="img-responsive" />
            </div>
            <div class="card-header">
                <a href="#{{id}}">
                    <h5 class="card-title">{{title}}</h5>
                </a>
                <div ui:if="subtitle" class="card-subtitle text-gray">{{subtitle}}</div>
            </div>
            <div class="card-body">
                <ui:slot />
            </div>
            <div class="card-footer">
                <ui:slot id="footer" />
            </div>
        </div>
    </template>

    <template id="Sidebar">
        <div class="off-canvas off-canvas-sidebar-show">
            <a class="off-canvas-toggle btn btn-primary btn-action show-lg"
               href="#sidebar">
                <i class="icon icon-menu" />
            </a>
            <div id="sidebar" class="off-canvas-sidebar">
                <div class="fixed">
                    <ui:slot id="aside" />
                </div>
            </div>
            <a class="off-canvas-overlay" href="#"></a>
            <div class="off-canvas-content">
                <ui:slot />
            </div>
        </div>
    </template>

    <template id="Navbar">
        <header class="navbar bg-secondary" style="height:48px">
            <section class="navbar-section mx-2">
                <ui:slot />
            </section>
            <section class="navbar-center" ui:if="logo">
                <img src="{{logo}}" alt="" height="40" width="40" />
            </section>
            <section class="navbar-section mx-2">
                <ui:slot id="right" />
            </section>
        </header>
    </template>

    <template id="Chips">
        <div class="ui mini labels">
            <span class="chip c-hand bg-success:{{tag.selected}} bg-secondary:{{tag.selected|not}} badge:{{tag.selected|not}}"
                  data-badge="{{tag.count|ifAbove:3}}"
                  data-id="{{tag.id}}"
                  click="{{click}}"
                  ui:each="tag of data">
                <span>{{tag.name}}<small ui:if="tag.selected2">{{tag.count}}</small></span>
            </span>
        </div>
    </template>

    <template id="Tabs">
        <ul class="tab tab-block">
            <li class="tab-item  c-hand" ui:each="item of data">
                <a href="#tab?tab={{item.value}}">{{item.name}}</a>
            </li>
        </ul>
    </template>

    <template id="Modal">
        <div class="modal modal active:{{open}}">
            <a class="modal-overlay" aria-label="Close" click="{{close}}"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a class="btn btn-clear float-right" aria-label=":close" click="{{close}}"></a>
                    <div class="modal-title h5" ui:if="title">{{title}}</div>
                    <ui:slot id="header" />
                </div>
                <div class="modal-body" style="max-height: 70vh;">
                    <div class="content">
                        <ui:slot />
                    </div>
                </div>
                <div class="modal-footer">
                    <ui:slot id="footer" />
                </div>
            </div>
        </div>
    </template>
</body>