<body id="app">
    <template id="TextField">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="input-example-4">{caption}</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" id="input-example-4" type="text"
                       placeholder={caption} value={value} change={onChange}>
            </div>
        </div>
    </template>
    <template id="SwitchField">
        <div class="form-group">
            <div class="col-9 col-sm-12 col-ml-auto">
                <label class="form-switch">
                    <input type="checkbox"
                           toggle={onChange}
                           checked={value}><i class="form-icon"></i> {caption}
                </label>
            </div>
        </div>
    </template>
    <template id="TextareaField">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="input-example-6">{caption}</label>
            </div>
            <div class="col-9 col-sm-12">
                <textarea class="form-input" style="min-height: 15vw"
                          placeholder={caption}
                          rows="3" change={onChange}
                          value={value}></textarea>
            </div>
        </div>
    </template>
    <template id="RadioField">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">{caption}</label>
            </div>
            <div class="col-9 col-sm-12">
                <label class="form-radio">
                    <input type="radio" name="gender"><i class="form-icon"></i> Male
                </label>
                <label class="form-radio">
                    <input type="radio" name="gender" checked=""><i class="form-icon"></i> Female
                </label>
            </div>
        </div>
    </template>
    <template id="EnumField">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">{caption}</label>
            </div>
            <div class="col-9 col-sm-12">
                <Select change={onChange} data-enum={typeSpec} options="<- res://enum" />
            </div>
        </div>
    </template>
    <template id="DictField">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">{caption}</label>
            </div>
            <div class="col-9 col-sm-12">
                <Select change={onChange} data-dict={typeSpec} options="<- db://dict" />
            </div>
        </div>
    </template>
    <template id="RefField">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label">{caption}</label>
            </div>
            <div class="col-9 col-sm-12">
                <Select change={onChange} options="<- {typeSpec}" />
            </div>
        </div>
    </template>
</body>