/* 
    Document   : lexio
    Created on : Apr 16, 2013, 2:14:47 AM
    Author     : Aliaksandr_Litskevic
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

 .defined {display:none;font-size:bigger;font-weight:bold;}
 .good {color :#3484BE; display:none1;font-size:normal;}
 .norm {color :blueviolet;}
 .weak {color :lightsalmon;}
 .bad {color :orange;font-size:larger;}
