/* 
    Document   : app
    Created on : Jan 19, 2013, 1:44:15 AM
    Author     : Aliaksandr_Litskevic
    Description:
        Purpose of the stylesheet follows.
*/
body {
    margin:0;
    padding:0;
    overflow-y:scroll;
    font-family: 'Oxygen', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #2f2f2f;
    background-color: #f9f9f9;
    background-image: url(/img/bg0.png);
}
footer {
    padding-top: 23px;
    border-top: 1px solid #bcbcbc;
    padding-bottom: 20px;
    background-color: #d9d9d9;
}
a:hover {
    text-shadow: 1px 1px 1px rgba(67, 81, 188, 0.4);
    text-decoration: none;
}
.brand, .brand a{
    color:white;
    text-shadow: 2px 3px 2px rgba(67, 81, 188, 0.3);
    text-decoration: none;
}

section {
    margin-top:10px;
    margin-bottom:10px;

}
.main {
    background: #FcFcFD;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
}
.main-section {
    background: #FEFEFE;
    padding: 10px 10px 10px 10px;
    margin-left: 0px;
    min-height: 400px;
}

aside {
    margin-left:10px;
}

h2{
    text-shadow: 2px 2px 2px rgba(67, 81, 188, 0.3);
    text-decoration: none;
}

h4{
    text-shadow: 1px 1px 1px rgba(67, 81, 188, 0.1);
    text-decoration: none;
}

.brand1:hover {
    color:white;
    text-shadow: 3px 3px 3px rgba(67, 81, 188, 0.4);
    text-decoration: none;
    margin:-1px;
}
.logo {
    height:40px;
}
.logo1:hover {
    transition: transfor 1s;
     -moz-transform:    rotate(5deg)
                         scale(1.1);
     -o-transform:      rotate(5deg)
                         scale(1.1);
     -webkit-transform: rotate(5deg)
                         scale(1.1);
     transform:         rotate(5deg)
                         scale(1.1);
}

.box120 {
    width:120px;
    height:120px;
}
.box160 {
    width:160px;
    height:160px;
}
.h160 {
    height:160px;
}
.rich-span {
    margin-left:10px;
    margin-bottom:10px;
    border: 1px solid #ddd;
    padding-left:10px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.rich-span>hr{
    margin-left:-10px;
}
.round-border {
    zoom: 1;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.rich-item-feature
{
    display:none;
    float:right;
}
.rich-item:hover .rich-item-feature {
    display:inline;
    text-decoration: none;
    font-size: larger;
}

.rich-item {
    zoom: 1;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 20px;
    padding:10px;
    background: white;
}
.herro{
    padding: 0px;
    height1:480px;
    background-color:#022c55;
        background-image: url(/res/bg_hero.jpg);

    transition: height 0.5s, opacity 0.5s;
    -moz-transition: height 0.5s, opacity 0.5s; /* Firefox 4 */
    -webkit-transition: height 0.5s, opacity 0.5s; /* Safari and Chrome */
    -o-transition: height 0.5s, opacity 0.5s;
    overflow:hidden;
}
.top_pane {
    padding: 10px;
    color:white;
    height:109px;
    background-color: #5555f5;
    background-image: url(/res/top-bg.jpg);
    background-position: 0% 0%;background-repeat: repeat-x;
}

.thumbnail {
height: auto;
position: relative;
}

.attribution {
background: rgba(0,0,0,0.4);
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
bottom: 0;
color: #fff;
font-size: 0.9em;
font-style: normal;
left: 0;
line-height: 1.7em;
padding: 0 10px;
position: absolute;
right: 0;
text-align: right;
text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.message{
    padding: 1px;
text-align: left;
background-color: #ffffff;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
white-space: normal;

}

 
.user {
    margin:10px;
    padding-top: 14px;
}
.user a {
    color:white;
}

.user a {
    color:white;
}
.jumbotron {
  position: relative;
  padding: 80px 0 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../res/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }


}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 45px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 18px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }


}
