
html {
  line-height: 1.2;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: .9rem;
}

.bg-warning, .bg-red, .btn-primary {
  background: #ff000d!important;
}
.bg-secondary {
  background: #f7edd5;
}
.badge[data-badge]::after {
  background: #a9a8c9;
}
.card {
  background: #fff;
  border: .05rem solid rgb(150, 155, 155);
  border-radius: 1rem;
}
.shadowed, .off-canvas-sidebar, .card, footer, header {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}
footer, header {
    z-index: 2;
}
.off-canvas-toggle{
    z-index: 3!important;
}
.menu {
  z-index: 400!important;
}

.menu .menu-item>a {
  border-radius: .1rem;
  color:#5755d9;
}

li span input:checked ~ span {
  color: white;
  background-color:#5755d9;
}

.stack {
  height:100%;
  display: flex;
  flex-direction: column;
}
.dashboard .column {
  padding: .4rem;
}

.sticky {
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}
.map-container {
  position:fixed;
  top:48px;
  bottom:0;
  left:200px;
  right:0;
  height:100%;
}
@media (max-width: 960px) {

  .off-canvas .off-canvas-sidebar {
    /* padding: .4rem .4rem .4rem .4rem!important; */
  }
  .off-canvas .off-canvas-content {
    /* padding: .4rem .4rem .4rem .4rem!important; */
  }
  .navbar {
    padding-left: 3em;
  }
  .map-container {
    left:0;
  }
}
