blue = #5B83AD
yellow = #FFFFE0

body
    padding 50px
    font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  
    .active
        background: yellow
    .template
        background linear-gradient(top, white, yellow)
        border-radius bottom 10px

    .clause
        border 1px solid blue
        padding:1px;
        border-radius 2px
            
        .prep
           color: purple 
        .noun
            color: navy
            
        .adj
            color: blue
            
    .be
        color: red 
        
    .adverb
        color: green

    .det
       color: gray
       font-weight: bold;

    .conj
       color: purple
       font-weight: bold;

    .styled
        transform rotate(-30deg)
        margin-top 100px
        position absolute
